{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <title>A.R.M.S. | 登记</title>
    <link rel="stylesheet" href="{% static '/css/master.css' %}">
  </head>
  <body>
    <div id="regist_pad">
      <h2>请在此页面登记</h2>
      <form class="" action="{% url 'register' %}" method="post">{% csrf_token %}
        <label for="">姓名</label><input type="text" name="name" value="">
        <label for="">次数</label><input type="text" name="times" value="">
        <input type="hidden" name="type" value="dj">
        <input type="submit" name="" value="完成登记">
      </form>
    </div>
  </body>
</html>
